
/* header */
header {
    padding: 0 40px; 
    height: 80px;
    display: flex; 
    justify-content: space-between; 
    box-shadow: 0 1px 0 0 rgb(0 0 0 / 8%);
}

/* main-logo */
#main-logo-wrapper a {
    padding: 20px 0; 
    display: flex; 
    align-items: center;
    gap: 8px; 
}

#main-logo-wrapper img {
    width: 30px; 
}

#main-logo {
    color: #ff385c; 
    font-size: 23px;  
    font-weight: 600; 
}

/* search-button */

#search-button-wrapper {
    margin: 16px 0;
    display: flex; 
    flex-basis:auto; 
    justify-content: space-around;
    align-items: center;
    cursor: pointer; 
    border: 1px solid rgb(221, 221, 221);
    border-radius: 40px; 
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
    transition: box-shadow 0.3s ease; 
}

#search-button-wrapper:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 6px 15px 0px;
}

.search-button {
    display: block; 
    white-space: nowrap;
    font-weight: 600; 
    font-size:14px; 
    cursor: pointer; 
}

.search-button span {
    display: block; 
    padding: 0 16px; 
}

.search-button:nth-child(1) {
    padding: 0 0 0 8px; 
    border-right:1px solid rgb(221, 221, 221); 
}

.search-button:nth-child(2) {
    border-right:1px solid rgb(221, 221, 221); 
}

.search-button:nth-child(3) {
    display:flex; 
    align-items: center;
    justify-content: center;
    color: #717171;
    font-weight: 400; 
}


#solid-glass-wrapper {
    display: flex; 
    align-items: center;
    background-color: #ff385c;
    border-radius: 50%; 
    flex-basis: 32px; 
    padding: 10px; 
    margin: 7px 7px 7px 0; 
    
}

#solid-glass-wrapper img {
    width: 12px; 
}

/* user nav bar  */

#user-button-wrapper {
    display: flex; 
    align-items: center;
    gap: 8px; 
    cursor: pointer; 
}

#user-participation-bar {
    display: flex; 
    align-items: center;
}

.host-user-link {
    padding: 12px; 
    font-size: 14px; 
    font-weight: 600; 
    border-radius: 40px; 
}

.host-user-link:hover {
    background-color: #f7f7f7;
}

.language-area-button {
    margin-left: -5px; 
    padding: 12px; 
    display: inline-block; 
    border-radius: 40px; 
    cursor: pointer; 
}

.language-area-button:hover {
    background-color: #f7f7f7;
}

.language-area-button img {
    width: 16px; 
}

#user-information-bar {
    padding: 10px 15px; 
    border-radius: 40px;
    border: 1px solid rgb(221, 221, 221); 
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px 0px, rgba(0, 0, 0, 0.05) 0px 4px 12px 0px;
    transition: box-shadow 0.3s ease; 
}

#user-information-bar:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(0, 0, 0, 0.1) 0px 6px 15px 0px;
}

.user-information-button {
    display: inline-block; 
    display: flex; 
    align-items: center;
    gap: 8px; 
}


.user-information-button img{
    width: 14px; 
}

/* category bar */

#category-bar-wrapper {
    display: flex;
    align-items: center;
    margin: 20px 0 0 0;  
    padding: 0 40px; 
    height: 78px;  
}

#category-bar {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    gap: 32px; 
    width: 1090px; 
    overflow: auto; 
}

#category-bar::-webkit-scrollbar {
    display: none;
}

.category-bar-button {
    padding: 16px 0 14px 0;  
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 8px; 
    cursor: pointer; 
    font-size: 12px; 
    font-weight: 600; 
    color: rgb(113, 113, 113);
    white-space: nowrap;
    border-bottom: 2px solid #ffffff; 
    transition: border-bottom 0.3s ease; 
    transition: color 0.3s ease; 
}

.category-bar-button:hover {
    border-bottom: 2px solid #e7e7e7;
    color: black;  
}

.category-bar-button img {
    display: block; 
    width: 24px; 
    
}

.category-bar-button .active-category-icon {
    display: none; 
}

#accomodation-setting-filter {
    margin: 7px 0 7px 24px; 
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 8px; 
    width: 80px; 
    height: 48px; 
    border: 1px solid rgb(221, 221, 221); 
    border-radius: 12px;
    font-size: 12px; 
    color: rgb(34, 34, 34);
    cursor: pointer; 

}

#accomodation-setting-filter img{
    width: 14px; 
    display: inline-block; 
}